
li {
    list-style: none;
    
}
 li a{
     text-decoration: none;
     color: white;
 }

li:hover{
    color: white;
    background-color: skyblue;
}

main{
    padding-top: 5%;
}

#principal{
    background-color: gray;
    padding: 30px 30px 30px 30px;
}
