
li {
    list-style: none;
    
}
 li a{
     text-decoration: none;
     color: white;
 }

 li a:hover{
     color: white;
 }

li:hover{
    color: white;
    background-color: #ff0000;
}

main{
    padding-top: 5%;
}

#principal{
    background-color: #7f0000;
    padding: 30px 30px 30px 30px;
}

.bg-dangeri{
    background-color: #cc0000;
}

p{
    color: white;
}

.news{
    color: white;
}

.activity{
    color: white;
}