
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15{
    position: relative;
    min-height: 1px;
}

.col-xs-15{
    width: 20%;
    float: left;
}

@media (min-width: 768px)
{
    .col-sm-15
    {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px)
{
    .col-md-15
    {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px)
{
    .col-lg-15
    {
        width: 20%;
        float: left;
    }
}

.col-xs-12{
    padding-bottom: 20px;
}
li {
    list-style: none;
    
}
 li a{
     text-decoration: none;
     color: white;
 }

 li a:hover{
     color: white;
 }

li:hover{
    color: white;
    background-color: #ff0000;
}

main{
    padding-top: 5%;
}

#principal{
    background-color: #7f0000;
    padding: 30px 30px 30px 30px;
}

.bg-dangeri{
    background-color: #cc0000;
}

p{
    color: white;
}
p.card-text{
    color: black;
}

.news{
    color: white;
}

.activity{
    color: white;
}

.investigacion{
    padding-top: 20px;
    background-color: gray;
}

.descubre-rexel{
    padding-top: 20px;
    padding-bottom: 20px;
}

.elements-investigacion{
    padding-top: 20px;
}

.pad-inv{
    padding-right: 20px;
}

.discover{
    padding-bottom: 20px;
}

.card{
    background-color: transparent;
    border: none;
}

 a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}